html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif;
}

.wrapper {
  min-height: 100%;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.dashboard {
  height: 100%;
  text-align: center;
  background: linear-gradient(rgba(0,0, 0,0.5), rgba(0,0, 0,0.5)), url('http://hacknehs.com/assets/images/mountain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  color: white;
}
